@charset "UTF-8";
/* General styles */
.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block max-width 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.footer, .clients, .team, .howmade, .features, .hero {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1280px) {
  .footer, .clients, .team, .howmade, .features, .hero {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Header styles */
.header {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header__logo--last {
  color: #000000;
}

.header-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
  .header-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  .header-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .header-list__link:hover, .header-list__link:active {
    color: #2196f3;
  }
  .header-list__active {
    color: #2196f3;
  }
  .header-list__active::after {
    opacity: 1;
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    margin-left: 93px;
  }
}

.contact-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact-nav {
    display: block;
    margin-left: auto;
  }
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: #757575;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-nav__link:hover, .contact-nav__link:active {
    color: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .contact-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.svg-mail {
  fill: currentColor;
  margin-right: 10px;
}

.svg-tel {
  fill: currentColor;
  margin-right: 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu {
  display: block;
}
.mobile-menu__item {
  display: block;
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-decoration: none;
  color: #212121;
}
.mobile-menu__active {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-decoration: none;
  color: #2196f3;
}

.mobile-contacts {
  display: block;
  padding: 0;
}
.mobile-contacts__item {
  display: block;
  margin-bottom: 32px;
}
.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  text-decoration: none;
  color: #757575;
}
.mobile-contacts__active {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  text-decoration: none;
  color: #2196f3;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.mobile-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials__item:not(:first-child) {
  padding-left: 10px;
}
.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  text-decoration: none;
  color: #2196f3;
}

/* Hero style  -----------------------------*/
.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img-sm@1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img-sm@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img-sm@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img-sm@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img-md@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img-md@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img-md@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img-md@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img-lg@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img-lg@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero_img-lg@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero_img-lg@2x.jpg");
  }
}

.hero__title {
  margin: 0 auto 30px;
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
    width: 696px;
  }
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  padding: 10px 24px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:active {
  background-color: #188ce8;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

/* Features styles */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__icon--size {
  width: 70px;
  height: 70px;
}
.features__titles {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .features__titles {
    text-align: center;
  }
}
.features__text {
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    max-width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.features-list__item {
  margin-bottom: 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: 354px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .features-list__item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item:nth-child(n+3) {
    margin-bottom: 0px;
  }
}

.features-list__item:last-child {
  margin-bottom: 0px;
  margin-right: 0px;
}

/* howmade styles */
@media screen and (min-width: 768px) {
  .howmade-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .howmade-list {
    max-width: 1200px;
  }
}
.howmade-list__item {
  margin-bottom: 28px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .howmade-list__item {
    width: 152px;
    margin-right: 80px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .howmade-list__item {
    width: 368px;
    margin-right: 32px;
  }
}
.howmade-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .howmade-list__icon {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .howmade-list__icon {
    margin-bottom: 40px;
  }
}
.howmade-list__icon--size {
  width: 50px;
  height: 50px;
}
.howmade-list__titles {
  margin-bottom: 16px;
  text-align: left;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.0833333333;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .howmade-list__titles {
    margin-bottom: 12px;
  }
}
.howmade-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
  text-align: center;
}

.howmade-list__item:last-child {
  margin-bottom: 0px;
  margin-right: 0px;
}

/* works styles */
.works {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
.works__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.works-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.works-flex__item {
  width: 370px;
  margin-right: 30px;
  position: relative;
}
.works-flex__item:nth-child(3n) {
  margin-right: 0;
}
.works-flex__img {
  display: block;
  width: 100%;
  height: auto;
}
.works-flex__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

/* team styles */
.team {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f5f4fa;
}
@media screen and (max-width: 1199px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.team__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.1666666667;
  }
}

.particapant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .particapant {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .particapant {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .particapant {
    max-width: 1200px;
  }
}
.particapant__item {
  width: 100%;
  margin-bottom: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .particapant__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .particapant__item {
    width: calc((100% - 90px) / 4);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .particapant__item:nth-child(2n) {
    margin-right: 0px;
  }
}
.particapant__item:nth-child(4n) {
  margin-right: 0;
}
.particapant__photo {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.particapant__sign {
  padding-top: 30px;
  padding-bottom: 30px;
}
.particapant__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.particapant__post {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}
.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover {
  background-color: #2196f3;
}
.social__link:hover .social__icon {
  fill: #ffffff;
}

.clients {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 1199px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.clients__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.clients-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.clients-content__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-content__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-content__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients-content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-content__link:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
}
.clients-content__logo {
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .clients-content__item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-content__item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-content__item:nth-child(6n) {
    margin-right: 0px;
  }
}

/* footer styles */
.footer {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #2f303a;
}
.footer .footer__content {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .footer .footer__content {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .footer .footer__content {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer__content {
    max-width: 1200px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.company {
  display: block;
}
@media screen and (max-width: 767px) {
  .company {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .company {
    margin-left: 61px;
    margin-bottom: 60px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: #2196f3;
}
.footer-logo__last {
  color: #ffffff;
}

.adress-list {
  display: block;
}
.adress-list__line:not(:last-child) {
  margin-bottom: 9px;
}
.adress-list__city {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-list__contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-list__city:hover, .adress-list__city:active, .adress-list__contact:hover, .adress-list__contact:active {
  color: #2196f3;
}

.social-join {
  display: block;
}
@media screen and (max-width: 767px) {
  .social-join {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-join {
    margin-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .social-join {
    margin-left: 70px;
  }
}
.social-join__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.foot-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.foot-social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.foot-social__item:last-child {
  margin-right: 0;
}
.foot-social__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-social__icon {
  fill: #ffffff;
}
.foot-social__link:hover {
  background-color: #2196f3;
}
.foot-social__link:hover__icon {
  fill: #ffffff;
}

/* subscribe */
.subscribe {
  display: block;
  width: auto;
  margin-left: auto;
}
.subscribe__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscribe__form {
  display: block;
  width: 460px;
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 570px;
  }
}
.subscribe__input {
  width: 450px;
  height: 50px;
  margin-bottom: 30px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  color: #757575;
  outline: 0;
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}
@media screen and (max-width: 768px) {
  .subscribe__input {
    margin-bottom: 33px;
  }
}
.subscribe__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
  }
}
.subscribe__svg {
  margin-left: 10px;
}

/* portfolio menu */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio-menu__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-menu__link {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-menu__active {
  color: #ffffff;
  background-color: #2196f3;
}
.portfolio-menu__link:hover, .portfolio-menu__link:active {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08);
}

/* portfolio-container */
.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}
.portfolio-container__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.portfolio-container__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-container__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.portfolio-container__link {
  display: block;
}
.portfolio-container__link:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio-container__wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-container__img {
  display: block;
  width: 100%;
  height: auto;
}
.portfolio-container__sign {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-container__project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-container__name {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-container__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-container .portfolio-container__item:hover .portfolio-container__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* --------------------modal-backdrop------------- */
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden .modal {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__svg {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover {
  border: 1px solid #2196f3;
}
.modal__close:hover .modal__svg {
  fill: #2196f3;
}

/* modal-form input */
.modal-title {
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1428571429;
  text-align: center;
  margin-bottom: 12px;
}

.modal-input_label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #757575;
}
.modal-input_wrapper {
  position: relative;
}
.modal-input_line {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px;
  padding-left: 42px;
  font-size: 16px;
  color: #212121;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0; /* вот то что меня сбивало и не окрашивало бордер в голубой */
  cursor: pointer;
}
.modal-input_line:hover, .modal-input_line:focus, .modal-input_line:focus-within, .modal-input_line:focus-visible {
  border-color: #2196f3;
}
.modal-input_icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input_line:focus + .modal-input_icon, .modal-input_line:hover + .modal-input_icon {
  fill: #2196f3;
}
.modal-input_textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  cursor: pointer;
}
.modal-input_textarea:hover, .modal-input_textarea:focus, .modal-input_textarea:focus-within, .modal-input_textarea:focus-visible {
  border: 1px solid #2196f3;
}

.check-line {
  margin: 10px auto 0;
}
.check-line .check-line__agree {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.check-line__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .check-line__text {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.check-line__contract {
  margin-left: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .check-line__contract {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.check-line__agree .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.check-line__agree .agree-icon {
  fill: transparent;
}

.check-line input:checked + .check-line__agree .icon-wrapper {
  background-color: #2196f3;
  border: none;
}

.check-line input:checked + .check-line__agree .agree-icon {
  fill: #ffffff;
}

.modal-button {
  display: block;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 30px auto 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-button:hover, .modal-button:active {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */