/* General styles */
    $primary-text-color: #757575;
    $title-text-color: #212121;
    $header-logo-color: #2196f3;
    $header-logo-last-color: #000000;
    $footer-logo-color: #2196f3;
    $footer-logo-last-color: #ffffff;
    $accent-color: #2196f3;
    $background-color-fon: #2f303a;
    $hero-color: #ffffff;
    $button-bkg-mouse: #188ce8;
    $background-color-button: #2196f3;
    $team-bkg: #f5f4fa;
    $footer-color-list-adress: #ffffff;
    $footer-color-list-mail-tel: rgba(255, 255, 255, 0.6);
    $button-filtr-font: #212121;
    $button-filtr-bkg: #f5f4fa;
    $button-filtr-font-active: #ffffff;
    $button-filtr-bkg-active: #2196f3;
    $main-nav-bottom-border: #ececec;
    $cards-border: #eeeeee;
    $social-fon-active: #2196f3;
    $social-icon: #afb1b8;
    $features-icon-fon: #f5f4fa;
    $clients-border: #afb1b8;
    $foot-line: rgba(255, 255, 255, 0.1);
    $text-roboto: "Roboto", sans-serif;
    $text-raleway: "Raleway", sans-serif;

    